In [130]:
import pandas as pd 

# Carregar os dados coletados
dados = pd.read_excel('imoveis.xlsx')

In [131]:
# Remover linhas com valores vazios
dados.dropna(inplace=True)

In [132]:
# Remover linhas com valores duplicados
dados.drop_duplicates(inplace=True)

In [133]:
import pandas as pd

# Remover o prefixo de texto e manter apenas o número inicial
dados['quartos'] = dados['quartos'].str.replace('Quantidade de quartos\n', '', regex=False)
dados['quartos'] = dados['quartos'].str.extract(r'(\d+)').astype(int)

dados['banheiros'] = dados['banheiros'].str.replace('Quantidade de banheiros\n', '', regex=False)
dados['banheiros'] = dados['banheiros'].str.extract(r'(\d+)').astype(int)

dados['vagas'] = dados['vagas'].str.replace('Quantidade de vagas\n', '', regex=False)
dados['vagas'] = dados['vagas'].str.extract(r'(\d+)').astype(int)

In [134]:
# Separe o texto dos valores
dados['metragem'] = dados['metragem'].str.replace('m²', '')
dados['valor'] = dados['valor'].str.replace('R$ ', '')
dados['condominio_iptu'] = dados['condominio_iptu'].str.replace('R$ ', '')

In [135]:
# Extrair o primeiro número (antes do hífen)
dados['metragem'] = dados['metragem'].str.replace('Tamanho do imóvel\n', '', regex=False)
dados['metragem'] = dados['metragem'].str.extract(r'(\d+(?:,\d+)?)')[0]  # Pega o primeiro número, incluindo decimais
dados['metragem'] = dados['metragem'].str.replace(',', '.').astype(float)

In [136]:
# Colocar espaco entre os nomes das ruas
dados['nome_rua'] = dados['nome_rua'].str.replace('Rua ', 'Rua ')

In [137]:
# substituir o nome metragem 
dados = dados.rename(columns={'metragem': 'metragem (em m2)'})

In [138]:
# Normalize as informações para um padrão de texto (Capitalize, Remoção de espaços)
dados['nome_rua'] = dados['nome_rua'].str.title()
print(dados)

    metragem (em m2)  quartos  banheiros  vagas    valor  \
0               44.0        3          2      1  300.000
1              160.0        3          1      2  300.000
2              170.0        3          2      2  300.000
3              132.0        3          2      2  300.000
4              100.0        3          1      3  300.000
..               ...      ...        ...    ...      ...
79              69.0        2          2      2  110.000
80              82.0        2          2      1  110.000
81              47.0        2          1      1  110.000
82             250.0        3          2      4  110.000
83             210.0        4          6      2  110.000

           condominio_iptu                             nome_rua
0   Cond. 750 • IPTU 2.000         Rua Doutor Alfredo De Castro
1   Cond. 750 • IPTU 2.000    Rua Emerson Carlos Romanelli Dias
2   Cond. 750 • IPTU 2.000                   Rua Das Primaveras
3   Cond. 750 • IPTU 2.000                     Rua Geyza Marcok
4   Cond. 750 • IPTU 2.000                Avenida Independência
..                     ...                                  ...
79                IPTU 250                         Rua Cruzeiro
80                IPTU 250            Rua Ruth Pinto De Camargo
81                IPTU 250                      Avenida Capuava
82                IPTU 250                 Rua Marcos Andreotti
83                IPTU 250  Rua Julieta Espírito Santo Pinheiro

[61 rows x 7 columns]

In [140]:
df= dados.to_excel('imoveis_tratados.xlsx', index=False)